/* LAYOUT AND SPACING, COLOR APPLICATION
Yes you can change stuff in here.
Probability of breaking layout: 80%
*/

html {
    box-sizing: border-box;
    background-color: var(--color-bg);
    min-height: 100vh;
}

body {
    margin: 0;
    min-height: 100vh;
    word-wrap: break-word;
    font-family: x-locale-body, monospace;
    color: var(--color-primary);
    background-color: var(--color-bg);
}

p {
    margin: 0;
}

header, header div, nav, footer {
    min-height: 4rem;
    background-color: transparent;
    max-width: 100vw;
    margin: 0 auto;
    align-items: center;
}

@media (max-width: 375px) {
    .header {
        flex-direction: column !important;
    }
    .header>#menu>nav>ul {
        padding-left: 0;
    }
}

main {
    margin: 0 auto;
    padding: 0 1rem;
    background-color: var(--color-bg);
}

article {
    width: 100%;
}

footer {
    width: 100%;
    margin: 3rem auto;
}

footer>section>p {
    margin: 0 auto !important;
}

img {
    max-width: 100%;
}

nav ul {
    width: 100%;
    margin: 0;
    justify-content: flex-end;
}

nav ul li {
    list-style-type: none;
    margin: 0 2rem;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 100%;
}

section {
    margin: 0 auto;
    width: var(--content-width);
}

/* SECTION STYLES */

div#profile {
    padding-right: 1rem;
}

div.item-content {
    padding: 1.5rem;
}

div#author>div.item-content {
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
}

div#author>div.item-content>img#author-img {
    max-height: 120px;
    margin: 0 1rem 0 0;
}

#author-img {
    max-height: 50px;
    margin: 0 1rem 0 0;
}

#author-name {
    font-size: calc(0.8rem * var(--scale));
    font-weight: 800;
}

#profile-name {
    margin: 0;
}

/* FEED ITEMS */

div.item-head {
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    color: var(--color-secondary);
}

.icon>svg {
    height: 1rem;
}

div.item {
    background-color: var(--item-bg);
    margin: 2rem auto;
    z-index: 2;
    overflow: hidden;
}

div.item, #feed-container {
    min-width: 100%;
    max-width: 100%;
}

div.item-foot {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

#readmore {
    position: absolute;
    width: 100%;
    max-width: calc(var(--content-width) - 3rem);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, var(--item-bg) 70%);
    height: 80px;
    transform: translateY(-100px);
}

#readmore>p {
    position: absolute;
    margin: 1rem 0 0 0;
    bottom: 0;
    z-index: 3;
}

/* TEXT STYLING */

.markdown, .highlight {
    width: 100%;
}

.markdown p {
    margin: 1.5rem 0;
}

.meta {
    color: var(--color-secondary);
    font-size: calc(0.8rem * var(--scale));
    margin: 0 !important;
}

/* FOR CODE BLOCKS */

.markdown>p>code {
    font-size: calc(0.8rem * var(--scale));
    background-color: var(--color-shadow);
    color: var(--color-primary);
    padding: 0 0.25rem;
}

.highlight {
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
    scrollbar-width: thin;
    padding: 1rem;
    font-size: calc(0.8rem * var(--scale));
    background-color: var(--color-shadow);
    color: var(--color-primary);
}

.highlight::-webkit-scrollbar {
    width: 1em;
}

.highlight::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

.highlight::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-border);
}

/* PAGINATION LINKS */

.pagination {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

ul.pagination {
    padding: 0;
}

.page-item {
    list-style-type: none;
    text-align: center;
}

.page-link {
    background: none;
}

.back-link {
    font-family: var(--code-font);
    font-size: calc(0.8rem * var(--scale));
}