<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $authorTitle := (printf "%s%s" .Site.Author.name "'s Neofeed")}}
    <title>{{ .Site.Title | default $authorTitle }}</title>
    <meta name="description" content="{{ .Site.Params.description | default $authorTitle }}">
    {{ with .Site.Params.paymentPointer }}
    <meta name="monetization" content="{{ . }}">
    {{ end }}
    <link rel="stylesheet" href="{{ "css/base.css" | absURL}}" crossorigin="anonymous" media="screen">
    <link rel="stylesheet" href="{{ "css/variables.css" | absURL}}" crossorigin="anonymous" media="screen">
    {{ $skin := printf "%s" (.Site.Params.skin | default "minimal") }}
    <link rel="stylesheet" href="{{ printf "%s%s%s" "skins/" $skin ".css" | absURL }}" crossorigin="anonymous" media="screen">


    <link rel="shortcut icon" href="{{ "favicon.ico" | absURL }}">
    <link rel="icon" type="image/png" href="{{ "favicon-196x196.png" | absURL }}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ "favicon-96x96.png" | absURL }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ "favicon-32x32.png" | absURL }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ "favicon-16x16.png" | absURL }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ "favicon-128.png" | absURL }}" sizes="128x128" />
    {{ with .Site.Params.plausible }}
    {{ $url := urls.Parse .Site.BaseURL }}
    <script async defer data-domain="{{ $url.Host }}" src="https://plausible.io/js/plausible.js"></script>
    {{ end }}
    <!-- Metadata -->
    {{ $authorTitle := printf "%s%s" .Site.Author.name "'s Neofeed" }}
    <meta property="og:title" content="{{ .Site.Title | default $authorTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ .Site.Params.description | default $authorTitle }}" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:site_name" content="{{ .Site.Title | default $authorTitle }}" />
    {{ with .Site.Params.card }}<meta property="og:image" content="{{ . }}" />{{ end }}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Site.Title | default $authorTitle }}" />
    {{ with .Site.Params.card }}<meta name="twitter:image" content="{{ . }}" />{{ end }}
    <meta name="twitter:description" content="{{ .Site.Params.description | default $authorTitle }}" />
</head>
